<%= form_for(@ustroystva) do |f| %>
  <% if @ustroystva.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ustroystva.errors.count, "error") %> prohibited this ustroystva from being saved:</h2>

      <ul>
      <% @ustroystva.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :department %><br />
    <%= f.text_field :department %>
  </div>
  <div class="field">
    <%= f.label :worker %><br />
    <%= f.text_field :worker %>
  </div>
  <div class="field">
    <%= f.label :invent_number %><br />
    <%= f.text_field :invent_number %>
  </div>
  <div class="field">
    <%= f.label :district %><br />
    <%= f.text_field :district %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :date_intranse %><br />
    <%= f.date_select :date_intranse %>
  </div>
  <div class="field">
    <%= f.label :date_of_introduce %><br />
    <%= f.date_select :date_of_introduce %>
  </div>
  <div class="field">
    <%= f.label :object_operation %><br />
    <%= f.check_box :object_operation %>
  </div>
  <div class="field">
    <%= f.label :operation_date %><br />
    <%= f.date_select :operation_date %>
  </div>
  <div class="field">
    <%= f.label :date_off %><br />
    <%= f.date_select :date_off %>
  </div>
  <div class="field">
    <%= f.label :amortization %><br />
    <%= f.text_field :amortization %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
