<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @ustroystva.type %>
</p>

<p>
  <b>Name:</b>
  <%= @ustroystva.name %>
</p>

<p>
  <b>Department:</b>
  <%= @ustroystva.department %>
</p>

<p>
  <b>Worker:</b>
  <%= @ustroystva.worker %>
</p>

<p>
  <b>Invent number:</b>
  <%= @ustroystva.invent_number %>
</p>

<p>
  <b>District:</b>
  <%= @ustroystva.district %>
</p>

<p>
  <b>Cost:</b>
  <%= @ustroystva.cost %>
</p>

<p>
  <b>Date intranse:</b>
  <%= @ustroystva.date_intranse %>
</p>

<p>
  <b>Date of introduce:</b>
  <%= @ustroystva.date_of_introduce %>
</p>

<p>
  <b>Object operation:</b>
  <%= @ustroystva.object_operation %>
</p>

<p>
  <b>Operation date:</b>
  <%= @ustroystva.operation_date %>
</p>

<p>
  <b>Date off:</b>
  <%= @ustroystva.date_off %>
</p>

<p>
  <b>Amortization:</b>
  <%= @ustroystva.amortization %>
</p>


<%= link_to 'Edit', edit_ustroystva_path(@ustroystva) %> |
<%= link_to 'Back', ustroystvas_path %>
