<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Dev_type %><br />
    <%= f.text_field :Dev_type %>
  </div>
  <div class="field">
    <%= f.label :dev_name %><br />
    <%= f.text_field :dev_name %>
  </div>
  <div class="field">
    <%= f.label :department %><br />
    <%= f.text_field :department %>
  </div>
  <div class="field">
    <%= f.label :worker %><br />
    <%= f.text_field :worker %>
  </div>
  <div class="field">
    <%= f.label :invent_number %><br />
    <%= f.text_field :invent_number %>
  </div>
  <div class="field">
    <%= f.label :district %><br />
    <%= f.text_field :district %>
  </div>
  <div class="field">
    <%= f.label :dev_cost %><br />
    <%= f.text_field :dev_cost %>
  </div>
  <div class="field">
    <%= f.label :date_intr %><br />
    <%= f.text_field :date_intr %>
  </div>
  <div class="field">
    <%= f.label :date_of_introduce %><br />
    <%= f.text_field :date_of_introduce %>
  </div>
  <div class="field">
    <%= f.label :object_operation %><br />
    <%= f.check_box :object_operation %>
  </div>
  <div class="field">
    <%= f.label :operation_dat %><br />
    <%= f.text_field :operation_dat %>
  </div>
  <div class="field">
    <%= f.label :date_kil %><br />
    <%= f.text_field :date_kil %>
  </div>
  <div class="field">
    <%= f.label :amortization %><br />
    <%= f.text_field :amortization %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
