<meta charset="UTF-8">
<h1>Устройства</h1>

<table>
  <tr>
    <th>Тип</th>
    <th>Название</th>
    <th>Отдел</th>
    <th>Сотрудник</th>
    <th>Инвент_номер</th>
    <th>District</th>
    <th>Цена</th>
    <th>Дата ввода</th>
    <th>Дата выпуска</th>
    <th>Операция</th>
    <th>Дата операции</th>
    <th>Дата списания</th>
    <th>Амортизация</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @devices.each do |device| %>
  <tr>
    <td><%= device.Dev_type %></td>
    <td><%= device.dev_name %></td>
    <td><%= device.department %></td>
    <td><%= device.worker %></td>
    <td><%= device.invent_number %></td>
    <td><%= device.district %></td>
    <td><%= device.dev_cost %></td>
    <td><%= device.date_intr %></td>
    <td><%= device.date_of_introduce %></td>
    <td><%= device.object_operation %></td>
    <td><%= device.operation_dat %></td>
    <td><%= device.date_kil %></td>
    <td><%= device.amortization %></td>
    <td><%= link_to 'Посмотреть', device %></td>
    <td><%= link_to 'Редактировать', edit_device_path(device) %></td>
    <td><%= link_to 'Удалить', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить', new_device_path %>
