<p id="notice"><%= notice %></p>

<p>
  <b>Dev type:</b>
  <%= @device.Dev_type %>
</p>

<p>
  <b>Dev name:</b>
  <%= @device.dev_name %>
</p>

<p>
  <b>Department:</b>
  <%= @device.department %>
</p>

<p>
  <b>Worker:</b>
  <%= @device.worker %>
</p>

<p>
  <b>Invent number:</b>
  <%= @device.invent_number %>
</p>

<p>
  <b>District:</b>
  <%= @device.district %>
</p>

<p>
  <b>Dev cost:</b>
  <%= @device.dev_cost %>
</p>

<p>
  <b>Date intr:</b>
  <%= @device.date_intr %>
</p>

<p>
  <b>Date of introduce:</b>
  <%= @device.date_of_introduce %>
</p>

<p>
  <b>Object operation:</b>
  <%= @device.object_operation %>
</p>

<p>
  <b>Operation dat:</b>
  <%= @device.operation_dat %>
</p>

<p>
  <b>Date kil:</b>
  <%= @device.date_kil %>
</p>

<p>
  <b>Amortization:</b>
  <%= @device.amortization %>
</p>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
