<%= title "Сотрудники"%>

<%= form_for(@sotrudniki) do |f| %>
  <% if @sotrudniki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sotrudniki.errors.count, "error") %> prohibited this sotrudniki from being saved:</h2>

      <ul>
      <% @sotrudniki.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Таб_номер %><br />
    <%= f.number_field :tab_number %>
  </div>
  <div class="field">
    <%= f.label :ФИО %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Короткое_имя %><br />
    <%= f.text_field :short_name %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :Отдел %><br />
    <%= collection_select(:department, :name, Department.all, :id, :department_name)%>
  </div>
  <div class="field">
    <%= f.label :Должность %><br />
    <%= f.text_field :job %>
  </div>
  <div class="field">
    <%= f.label :Адрес %><br />
    <%= f.text_field :adress %>
  </div>
  <div class="field">
    <%= f.label :Телефон %><br />
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :Доступ %><br />
    <%= f.check_box :access %>
  </div>
    <div class="field">
      <%= f.label :Pass %><br />
      <%= f.text_field :password %>
    </div>
  <div class="actions">
    <%= f.submit "Сохранить"%>
  </div>
<% end %>
