<meta charset="UTF-8">
<%= title "Список сотрудников" %>
<h1>Сотрудники</h1>

<table>
  <tr>
    <th>Таб_номер</th>
    <th>ФИО</th>
    <th>Короткое имя</th>
    <th>Username</th>
    <th>Email</th>
    <th>Отдел</th>
    <th>Должность</th>
    <th>Адрес</th>
    <th>Телефон</th>
    <th>Доступ</th>
    <th>Пароль</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sotrudnikis.each do |sotrudniki| %>
  <tr>
    <td><%= sotrudniki.tab_number %></td>
    <td><%= sotrudniki.name %></td>
    <td><%= sotrudniki.short_name %></td>
    <td><%= sotrudniki.username %></td>
    <td><%= sotrudniki.email %></td>
    <td><%= sotrudniki.district %></td>
    <td><%= sotrudniki.job %></td>
    <td><%= sotrudniki.adress %></td>
    <td><%= sotrudniki.telephone %></td>
    <td><%= sotrudniki.access %></td>
    <td><%= sotrudniki.password %></td>
    <td><%= link_to 'Посмотреть', sotrudniki %></td>
    <td><%= link_to 'Редактировать', edit_sotrudniki_path(sotrudniki) %></td>
    <td><%= link_to 'Удалить', sotrudniki, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить', new_sotrudniki_path %>
