<p id="notice"><%= notice %></p>

<p>
  <b>Таб_номер:</b>
  <%= @sotrudniki.tab_number %>
</p>

<p>
  <b>ФИО:</b>
  <%= @sotrudniki.name %>
</p>

<p>
  <b>Короткое имя:</b>
  <%= @sotrudniki.short_name %>
</p>

<p>
  <b>Username:</b>
  <%= @sotrudniki.username %>
</p>

<p>
  <b>Email:</b>
  <%= @sotrudniki.email %>
</p>

<p>
  <b>Отдел:</b>
  <%= @sotrudniki.district %>
</p>

<p>
  <b>Должность:</b>
  <%= @sotrudniki.job %>
</p>

<p>
  <b>Адрес:</b>
  <%= @sotrudniki.adress %>
</p>

<p>
  <b>Телефон:</b>
  <%= @sotrudniki.telephone %>
</p>

<p>
  <b>Доступ:</b>
  <%= @sotrudniki.access %>
</p>


<%= link_to 'Редактировать', edit_sotrudniki_path(@sotrudniki) %> |
<%= link_to 'Назад', sotrudnikis_path %>
